table{
    color: #ffffff;
}

table tr:nth-child(odd){
    background-color: #2f3c4f;
}

table tr:nth-child(even){
    background-color: #506f86;
}

.search-box{
   text-align: right;
   margin: 10px 20px   
}

.search-input{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 8px;

}

